body {
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    color: teal;
}

label {
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
}

input [type="text"], input[type="text"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

br {
    clear: both;
}

#submit {
    margin-left: 0.5em;
}